/*
Tan scheme -- Light to dark
F3E6DD -- Lightest
D8C7BE
A6958C
726C67
404142 -- Darkest
*/

html, body
{
    background-color:#F4F3F3; /*#F3E6DD;*/
    margin:0;
    overflow-x: hidden;
    text-align: center;
}

body
{
    font-family: Helvetica Neue;
    overflow-y: hidden;
}

.section-main {
    margin:0em;
    padding:0em;
    font-weight: lighter;
    font-size:400%;
    color: #F4F3F3;

    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /*Center on x axis*/ 
    align-content: center; /* Squash all to middle */
    align-items: center; /* Center on y axis */
}

#section-city {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
                                      rgba(0, 0, 0, 0.4)), 
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.4),
                                      rgba(255, 255, 255, 0.4)), */

    url(../assets/city-1.jpg);
    background-position: center;
    height: 700px;
    color: #FFFFFF;
}

#section-iphone {
    background-color: #121413;
    height: 750px;
}

#section-stars {
    background-image: url(../assets/stars-1.jpg);
    background-position: center;
    height: 700px;
}

/* Three images as a group */
.group-iphone {
    display: flex;
    justify-content: space-around; /* all in a row */

    width: 80%;
    height: 425px;
    align-items: center;
}

.image-iphone {
    max-height: 100%;
    max-width: 30%;
}

h1, h2, h3, h4, h5{
    font-weight: lighter;
    margin-top: 0.00em;
    margin-bottom: 0.67em;
    width: 100%;
}

/* Entire nav bar */
.section-nav {
    list-style: none;
    margin: 0;

    display: flex;
    justify-content: flex-end;
}

/* Nav bar items */
.section-nav a {
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 1.5px;
    display: block;
    padding: 2em;
    color: #000000;
}

.section-nav a:hover {
    background: #8D847E;
    color: #F4F3F3;
}

@media all and (max-width: 750px) {
    .section-nav {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .section-nav a { 
        /* adjusts dimensions of small layered buttons */
        text-align: center; 
        padding: 5px;
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.1); 
    }


    .section-nav li:last-of-type a {
        border-bottom: none;
    }
}

#gui {  /*dat gui element*/
    position: fixed; 
    top: 82px; 
    right: 0px;
}

