/*
Dark Grey: 525252
White: EFEFEF
Blue: 30D6F5

*/

body
{
    background-color:#EFEFEF;
    margin:0;
}

.navigation {
    list-style: none;
    margin: 0;
    background: #EFEFEF;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation a {
    /* style of nav bar */
    text-decoration: none;
    font-family:arial;
    display: block;
    padding: 2em;
    color: #1DDDFA;
}

.navigation a:hover {
    background: #EBEBEB;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }

    .navagation a {
        flex-line-pack: stretch;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a { 
        /* adjusts dimensions of small layered buttons */
        text-align: center; 
        padding: 5px;
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.1); 
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

.Block{
    /*position: absolute;*/
    background-color:#EFEFEF;
    padding: 1em;
    text-align:center;

    text-align:center;
    font-family:arial;
    margin:0em;
    font-size:150%;
}



#section {
    margin-top: 20px;

    background-color:#EFEFEF;
    /*color:#1A464A;*/
    text-align:center;
    font-family:arial;
    margin:0em;
    padding:0em;
    font-size:150%;
}
